button {
  border-radius: .5rem;
  padding: .6rem 1.2rem;
}

#logger {
  display: block;
  max-height: 20rem;
  overflow: auto;
}

input[type="range"].slider {
  -webkit-appearance: none;
  background: #d3d3d3;
  border-radius: 5px;
  height: 10px;
  opacity: .7;
  outline: none;
  padding: 0;
  -webkit-transition: .2s;
  transition: opacity .2s;
  width: 100%;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: url("icon-contrast.png");
  border: 0;
  cursor: pointer;
  height: 24px;
  width: 24px;
}

#illustration {
  height: 400px;
  position: relative;
  width: 100%;
}

.illustration {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.illustration.ring-top {
  background-image: url("ring-top.png");
  z-index: 3;
}

.illustration.finger {
  background-image: url("finger.png");
  background-position-x: 150px;
  z-index: 2;
}

.illustration.ring-bot {
  background-image: url("ring-bot.png");
  z-index: 1;
}
